<ng-container *ngIf="!isLoading">
  <section class="profile">
    <app-profile-photo></app-profile-photo>
  </section>
  <section class="content">
    <app-section-title header="Test"></app-section-title>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
      diam quam nulla porttitor. Et malesuada fames ac turpis. Nisl pretium
      fusce id velit ut tortor pretium. Lectus nulla at volutpat diam ut
      venenatis tellus. Dictum at tempor commodo ullamcorper a. Cursus metus
      aliquam eleifend mi in nulla. Scelerisque in dictum non consectetur a erat
      nam. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in.
      Duis at tellus at urna. Molestie a iaculis at erat pellentesque
      adipiscing. Purus non enim praesent elementum facilisis leo vel fringilla.
      Rhoncus urna neque viverra justo. Ipsum faucibus vitae aliquet nec. Vitae
      nunc sed velit dignissim.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
      diam quam nulla porttitor. Et malesuada fames ac turpis. Nisl pretium
      fusce id velit ut tortor pretium. Lectus nulla at volutpat diam ut
      venenatis tellus. Dictum at tempor commodo ullamcorper a. Cursus metus
      aliquam eleifend mi in nulla. Scelerisque in dictum non consectetur a erat
      nam. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in.
      Duis at tellus at urna. Molestie a iaculis at erat pellentesque
      adipiscing. Purus non enim praesent elementum facilisis leo vel fringilla.
      Rhoncus urna neque viverra justo. Ipsum faucibus vitae aliquet nec. Vitae
      nunc sed velit dignissim.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae et leo duis ut
      diam quam nulla porttitor. Et malesuada fames ac turpis. Nisl pretium
      fusce id velit ut tortor pretium. Lectus nulla at volutpat diam ut
      venenatis tellus. Dictum at tempor commodo ullamcorper a. Cursus metus
      aliquam eleifend mi in nulla. Scelerisque in dictum non consectetur a erat
      nam. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in.
      Duis at tellus at urna. Molestie a iaculis at erat pellentesque
      adipiscing. Purus non enim praesent elementum facilisis leo vel fringilla.
      Rhoncus urna neque viverra justo. Ipsum faucibus vitae aliquet nec. Vitae
      nunc sed velit dignissim.
    </p>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
  </section>
</ng-container>
