@import "~src/styles/variables.scss";

:host {
  display: flex;
  height: 100vh;
}

.profile {
  border-right: solid 1px #585858;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 16px;
}

.content {
  border-left: solid 1px #585858;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 16px;
  flex: 3;
  overflow: auto;
}

.profile,
.content {
  padding: 3em;
}
