@import '~src/styles/variables.scss';

:host {
  display: flex;
  height: 100vh;
}

.profile {
  background-color: $black-content-color;
  color: white;
  flex: 1;
  position: relative;
}

.content {
  flex: 3;
  overflow: auto;
}

.profile,
.content {
  padding: 3em;
}
