@import '~src/styles/variables.scss';

h1 {
  background-color: #007bb5;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
}

.separator {
  height: 0.2em;
  background-color: $primary-color;
}
